<div class="container mx-auto p-4">
  <mat-card class="shadow-lg p-4">
    <mat-card-header>
      <mat-card-title>Entrer votre nom pour rejoindre le chat</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Votre nom</mat-label>
        <input matInput [(ngModel)]="userName" placeholder="Entrez votre nom" />
      </mat-form-field>
      <div class="text-left pb-4">
        <button mat-raised-button color="primary" (click)="joinChat()" [disabled]="!userName.trim()">Rejoindre</button>
      </div>
    </mat-card-content>

    <mat-divider></mat-divider>

    <h3 class="mt-4 text-lg font-semibold">Conversation</h3>

    <div class="chat-box mt-2 p-4 border rounded-lg overflow-auto h-64">
      <div *ngFor="let message of messages" class="p-2">
        <div *ngIf="isJoinMessage(message)" class="text-green-500">
          <strong>{{ message.sender }}</strong> a rejoint la conversation
        </div>

        <div *ngIf="isLeaveMessage(message)" class="text-red-500">
          <strong>{{ message.sender }}</strong> a quitté la conversation
        </div>

        <div *ngIf="isChatMessage(message)">
          <strong>{{ message.sender }}:</strong> {{ message.content }}
        </div>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="message-input mt-4">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Votre message</mat-label>
        <input matInput [(ngModel)]="messageContent" placeholder="Tapez votre message..." />
      </mat-form-field>

      <div class="text-right mt-4">
        <button mat-raised-button color="primary" (click)="sendMessage()" [disabled]="!messageContent.trim()">Envoyer</button>
      </div>
    </div>
  </mat-card>
</div>
